@{
    ViewBag.Title = "Home Page";
}

 <!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<span>Up-SkiLL</span>*@
                <div class="intro-text">
                    <span class="name">Up-SkiLL</span>
                    @*<hr class="star-light">*@
                    @*<span class="skills">Home of Microsoft Technologies</span>*@
                </div>
            </div>
        </div>
    </div>
</header>

 <!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-12 text-center">
                <h4>On-Line Tutorials</h4>
                <hr class="star-primary">
            </div>*@
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="edugate-layout-3">
                        <img class="img-responsive img-circle" src="/img/microsoft-azure.png" height="168" alt="">
                        <div class="blog-headline">Microsoft Azure</div>
                        <div class="media-body">
                            <p>Learn Microsoft Azure cloud PASS services from screatch. explained in details of eac topic with examples in practical manner.</p>
                            <p><a href="" target="_blank" class="btn btn-info">Start Learning &raquo;</a></p>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="edugate-layout-3">
                        <img class="img-responsive img-circle" src="/img/img_mvc.png" alt="">
                        <div class="blog-headline">ASP.NET MVC </div>
                            <div class="media-body">
                            <p>Learn ASP.NET MVC Architecture, controller, action method, routing, model, view, html helpers, Html helpers, attribute routing etc..</p>
                            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-info"> Start Learning &raquo;</a></p>
                            </div>   
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="edugate-layout-3">
                        <img class="img-responsive img-circle" src="/img/webAPI.png" alt="">
                        <div class="blog-headline">ASP.NET WEB API </div>
                        <div class="media-body">
                            <p>Learn ASP.NET Web API step by step. Learn about creating and configuring Web API, consuming Web, learns different  HTTP verbs, etc.</p>
                            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-info">Start Learning &raquo;</a></p>
                        </div>
                    </div>
                 </div>
                <div class="col-md-3 col-sm-6">
                    <div class="edugate-layout-3">
                        <img class="img-responsive img-circle" src="/img/img1.jpg" alt="">
                        <div class="blog-headline">C#.Net </div>
                        <div class="media-body">
                            <p>Learn about C# class, Objects, datatypes, conditions, loops, collections, File I/O, delegates, events, Static, Dynamic etc.. </p>
                            <p><a href="http://localhost:49590/CSharp/CSharpTutorial?courseId=1&&topicId=1" target="_blank" class="btn btn-info"> Start Learning  &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Second Row-->
            @*<div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="edugate-layout-3">
                            <img class="img-responsive img-circle" src="/img/javascriptlogo.png" alt="">
                            <h3>Java Script</h3>
                            <p>Learn JavaScript from scratch. Learn about JavaScript variables, datatypes, operators etc.. </p>
                            <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Let Start  &raquo;</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="edugate-layout-3">
                            <img class="img-responsive img-circle" src="/img/Jquery.png" alt="">
                            <h3>JQuery</h3>
                            <p>Learn jQuery in easy steps. It covers topics like jQuery selectors, events etc..</p>
                            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Let Start &raquo;</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="edugate-layout-3">
                            <img class="img-responsive img-circle" src="/img/AngularJs1.png" alt="">
                            <h3>AngularJs</h3>
                            <p>Learn basics to advanced AngularJS. Start from directives, controller, scope, events, Filters, Modules, Events, services, Dependancy Injection</p>
                            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Let Start &raquo;</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="edugate-layout-3">
                            <img class="img-responsive img-circle" src="/img/nodeJs.png"  alt="">
                            <h3>NodeJs</h3>
                            <p>Learn fundamentals of Node.js. Learn about Node.js console, NPM, modules, event emitter,  modules, event emitter,NPM, modules, event emitter,  modules, event emitter,NPM, modules, event emitter,  modules, event emitter,</p>
                            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Let Start &raquo;</a></p>
                        </div>
                    </div>

            </div>*@

</section>

 <!--Extra Effects-->
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/game.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<!-- Bootstrap Core JavaScript -->
@*<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>*@
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="~/js/jqBootstrapValidation.js"></script>
@*<script src="~/js/contact_me.js"></script>
<script src="~/js/contact_me.js"></script>*@
<!-- Theme JavaScript -->
<script src="~/js/freelancer.min.js"></script>