
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}

 <!-- Main Content -->
    <div class="container-custom">
        <div class="row">
            <div class="col-xs-3">
                <!--Nested row-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sidebarContent">
                            <span class="sidetext">Top 10 popular Post </span>
                            <a href="#">Data types in C#</a>
                            <a href="#">Model View Controller in MVC</a>
                            <a href="#">Clients</a>
                            <a href="#">Contact</a>
                            <a href="#">Data types in C#</a>
                            <a href="#">Model View Controller in MVC</a>
                            <a href="#">Clients</a>
                            <a href="#">Data types in C#</a>
                            <a href="#">Model View Controller in MVC</a>
                            <a href="#">Clients</a>
                        </div>

                    </div>
                </div>
                <!--Nested rows-->
               
            </div>

            <div class="col-xs-9">
                <a href="post.html">
                    <div class="blog-headline">Different Datatypes in C#.net</div>
                    <p><i>Posted by <a href="#">Sudipto Sarkar</a> on September 18, 2014</i></p>
                    <p>
                        <span class="blg-subtitle">
                            Introduction to C# datatypes in details  Introduction to C# datatypes in details  Introduction to C# datatypes in details.
                            Introduction to C# datatypes in details  Introduction to C# datatypes in details  Introduction to C# datatypes in details.
                    </p>
                    </span>
                    </p>
                </a>

                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <div class="blog-headline">Model View Controller in ASP.NET MVC</div>
                        <p><i>Posted by <a href="#">Sudipto Sarkar</a> on September 18, 2014</i></p>
                        <p>
                            <span class="blg-subtitle">
                                Describe the details of Model view Controller in MVC.how we can use Model, View , Controller in ASP.NET MVC.
                        </p>
                        </span>
                        </p>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <div class="blog-headline">ABC in WCF</div>
                        <p><i>Posted by <a href="#">Sudipto Sarkar</a> on September 18, 2014</i></p>
                        <p>
                            <span class="blg-subtitle">
                                Learn Address, Binding and Contract in details with example, which is known as ABC in WCF.
                        </p>
                        </span>
                        </p>
                    </a>

                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <div class="blog-headline">ABC in WCF</div>
                        <p><i>Posted by <a href="#">Sudipto Sarkar</a> on September 18, 2014</i></p>
                        <p>
                            <span class="blg-subtitle">
                                Learn Address, Binding and Contract in details with example, which is known as ABC in WCF.
                        </p>
                        </span>
                        </p>
                    </a>
                </div>
                <hr >
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
<!-- jQuery -->
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<!-- Bootstrap Core JavaScript -->
@*<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>*@
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="~/js/jqBootstrapValidation.js"></script>
@*<script src="~/js/contact_me.js"></script>
    <script src="~/js/contact_me.js"></script>*@
<!-- Theme JavaScript -->
<script src="~/js/freelancer.min.js"></script>
